*{  
    margin:0;  
    padding:0;  
}  

/*html {
    overflow-y: scroll;
}*/
body {
    background: silver;
    font: 12px 'segoe ui', 'trebuchet ms', arial, sans-serif;    
    text-align: center;
    min-width: 950px;
    overflow-x: scroll;
}

div {
    /*        border: 1px solid black;*/
/*    text-align: right;*/
}

.divleft {
    text-align: left;
}
a:visited {
    color: red;
}

.nav-paging{
    margin-top: 3px;
    margin-bottom: 15px;
}
/** Structure */
#wrapper {
    margin: 0 auto;
    width: 100%;
    text-align: left;
}

#header {
    font-size: 14px;
    position: fixed;
    width: 100%;
    min-width: 950px;
    background: #12407f;
    color: #fff;
/*    #436fac*/
    border-bottom: 4px solid #fa6800;
    background-image: linear-gradient(bottom, rgb(19,101,173) 0%, rgb(18,65,127) 53%);
    background-image: -o-linear-gradient(bottom, rgb(19,101,173) 0%, rgb(18,65,127) 53%);
    background-image: -moz-linear-gradient(bottom, rgb(19,101,173) 0%, rgb(18,65,127) 53%);
    background-image: -webkit-linear-gradient(bottom, rgb(19,101,173) 0%, rgb(18,65,127) 53%);
    background-image: -ms-linear-gradient(bottom, rgb(19,101,173) 0%, rgb(18,65,127) 53%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(19,101,173)),
        color-stop(0.53, rgb(18,65,127))
        );
}

#menu {

    background: #12407f;
    height: 40px;
    border-bottom: 1px solid #154a93;
    font:14px;

}

#content {
    background: #0087c9;
    padding-top: 90px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

#cwrapper-gradien {
    background: lightskyblue;
    /**color: #fff; **/
    min-height: 200px;
    max-width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid green;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 auto;
    background: #ebf1f6; /* Old browsers */
    background: -moz-linear-gradient(top,  #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */

}

#cwrapper {
    background: #eeeeee; 
/*    #0073c8;*/
    text-align: center;
    color: #1a1a1a;
/*        #ffffff;*/
    min-height: 500px;
    max-width: 95%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid #0073c8;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 0 auto;
    z-index: 1;

}

#wrap {
    z-index: 999;
    height: 100%;
    position: relative;

}

.detil {
    padding-left: 5px;
    padding-right: 5px;
}

#footer {
    float: bottom;
/*    position: absolute;*/
    font-size: 14px;
    background: #12407f;
    color: #fff;
    padding: 5px;
    border-top: 4px solid #fa6800;
    text-align: center;
/*    border-bottom-left-radius: 10px;*/
/*    border-bottom-right-radius: 10px;*/
    background-image: linear-gradient(top, rgb(19,101,173) 0%, rgb(18,65,127) 56%);
    background-image: -o-linear-gradient(top, rgb(19,101,173) 0%, rgb(18,65,127) 56%);
    background-image: -moz-linear-gradient(top, rgb(19,101,173) 0%, rgb(18,65,127) 56%);
    background-image: -webkit-linear-gradient(top, rgb(19,101,173) 0%, rgb(18,65,127) 56%);
    background-image: -ms-linear-gradient(top, rgb(19,101,173) 0%, rgb(18,65,127) 56%);

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(19,101,173)),
        color-stop(0.56, rgb(18,65,127))
        );
}

/* Links */
#header a {
    color: #fff;
    background: #12407f;
    padding: 4px 15px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
}

#header a:hover {
    background: #4d8add
}

/** Forms */

#form-wrapper {
/*    text-align: center;*/
    margin: 0 auto;
    margin-top: 5px;
    width: 75%;
    min-width: 400px;
    padding: 10px;
    font-family: tahoma;
    color: #0073c8;
/*    border: 2px solid chocolate;
    background-color: greenyellow;*/
    border: 2px solid black;
    background-color: white;
    /*background: rgb(243,197,189); /* Old browsers */
    /*background: -moz-linear-gradient(top,  rgba(243,197,189,1) 0%, rgba(232,108,87,1) 50%, rgba(234,40,3,1) 51%, rgba(255,102,0,1) 75%, rgba(199,34,0,1) 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,197,189,1)), color-stop(50%,rgba(232,108,87,1)), color-stop(51%,rgba(234,40,3,1)), color-stop(75%,rgba(255,102,0,1)), color-stop(100%,rgba(199,34,0,1))); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* IE10+ */
    /*background: linear-gradient(to bottom,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); /* IE6-9 */
    /*background: rgb(246,248,249); /* Old browsers */
    /*background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
    /*background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */

}

#libur {
    margin: 0 auto;
    margin-top: 5px;
    width: 100%;
    padding: 0px;
    font-family: tahoma;
    color: #0073c8;
    /*border: 2px solid chocolate;
    background-color: greenyellow;*/
    border: 2px solid black;
    background-color: white;
}

#table-wrapper {
    margin: 0 auto;
    margin-top: 5px;
    width: 98%;
    padding: 3px;
    font-family: tahoma;
    color: #0073c8;
    /*border: 2px solid chocolate;
    background-color: greenyellow;*/
    border: 2px solid black;
    background-color: white;

}
/*
#form-wrapper:before, #form-wrapper:after {
    z-index: -1;
    position: absolute;
    content:"";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: rgba(0,0,0,0.7);
    -webkit-box-shadow: 0 15px 10px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 15px 10px rgba(0,0,0,0.7);
    box-shadow: 0 15px 10px rgba(0,0,0,0.7);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

#form-wrapper:after {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    right: 10px;
    left: auto;
}
    
*/
form {
    padding-left: 5px;
/*    margin-left: 200px; */
    text-align: left;
/*    margin: 0 auto;*/
    display: inline-block;
    font: 100% 'segoe ui',verdana,arial,sans-serif;
}

form.backup {
    padding-left: 0px;
/*    margin-left: 200px; */
    text-align: left;
/*    margin: 0 auto;*/
    display: inline-block;
    font: 100% 'segoe ui',verdana,arial,sans-serif;
    
}

form .admin_form{
    padding-left: 100px;
/*    margin-left: 200px; */
}

#form-search {
    padding-left: 0px;
}


form label { 
    display: block;
    float: left; 
    width: 100px; 
    padding: 0; 
    margin: 9px 0 0;
/*    text-align: right; */
    text-align: left;
}

form label.right { 
    display: block;
    float: left; 
    width: auto; 
    padding: 4px; 
    margin: 5px 0 0 10px;
    text-align: left; 

}

form input, form select  {
    background-color: #d6d6d6;
    width: 400px;
    max-width: 50%;
    margin: 5px 0 0 10px;
    border: 1px solid gray;
    padding: 4px;
/*    border-radius: 4px;*/
}

form textarea {
    background-color: #d6d6d6;
    width: 400px;
    max-width: 70%;
    margin: 5px 0 0 10px;
    border: 1px solid gray;
    padding: 4px;
}

form textarea.txtinput {
    max-width: 90%;
}

form search {
    width: 295px;
    max-width: 50%;
    height: 20px;
    margin: 5px 0 0 10px;
    margin-right: 0px;
    border: 1px solid gray;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 4px;
    
}

form input#search {
    margin-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 450px;
    height: 20px;

}

form input#iuser {
    margin-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 300px;
    height: 20px;

}

form input#pass {
    margin-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 300px;
    height: 20px;

}

.float-input {
    max-width: 100%;
    width: auto;
}

form input:hover, form select:hover, form textarea:hover {
    width: 250;
    margin: 5px 0 0 10px;
    border: 1px double silver;
    padding: 4px;    
}

form input[type=radio], input[type=checkbox] {
    width: auto;
}

form input[type=submit], input[type=reset], input[type=button] {
    min-width: 60px;
    max-width: 100px;
    /*border:1px outset activecaption; */
    height: 30px;
    min-width: 60px;
    font-size: 12px;
    /*cursor: pointer;  */  
    background: #498af2;
    border: 0px;
    color: #eef5fe;
    font-weight: bold;
    padding:2px;
    border-radius: 0px;
}

form input[type=submit]:hover, form input[type=reset]:hover, form input[type=button]:hover{
    cursor: pointer;
    color:black;
    font-weight: bolder;
    background: #1768ee;
    border: 3px #12407f;
    /*background: aqua;
    background: #ebf1f6; /* Old browsers */
    /*background: -moz-linear-gradient(top,  #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* IE10+ */
    /*background: linear-gradient(to bottom,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */
}


form br {clear: left;}


iframe {
    width: 100%;
/*    min-height: 100%;*/
    min-height: 485px;
    border: solid 2px #000000;
    background-color: #127e11;
}

iframe.grafik-kinerja {
    text-align: center;
    margin-left: 5%;
    width: 800px;
    padding: 10px;
    min-height: 100px;
    border: solid 2px gray;
}

iframe.grafik-rekap {
    text-align: center;
    margin-left: 5%;
    width: 400px;
    padding: 10px;
    min-height: 250px;
    border: solid 2px gray;
}

/*#error{
    background: red;
    width:75%;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
}*/

#success{
    background: greenyellow;
    border: 1px solid greenyellow;
    width:100%;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
}

#brand {

    padding: 5px 5px;
    float: right;
    position: relative;
    font-weight: bolder;
    font-size: 25px;
    color: #00a4ef; /*#0b2348;*/
    text-shadow: 0 1px 0 #7dd5ff;
    font-family: Arial,Helvetica,sans-serif;
}

#brand:hover {
    color: #ffffff;
    -webkit-transition: all 1s;
    text-shadow: 0 1px 0 silver;
}

#pull-right {
    padding: 11px 11px;
    float: right;
    position: relative;   

}

.limit{
    float:left;
    padding-left: 5px;
    position: inherit;
    top: 0;
    left: 0;
    z-index: 99999;
    
}

.paging{
    float:right;
    padding-right: 5px;
    position: inherit;
    top: 0;
    right: 0;    
    z-index: 99999;
}

#user {
    padding: 11px 11px;
    float: right;
    position: relative;
    cursor:pointer;
}

#trans { 
    float: right; 
    /*    position: relative; */
    padding-left: 5px;
    padding-right: 5px;
    line-height: 40px; 
    /*    background: #4d8add;*/
    /*    repeat-x: 0 0;*/

}
#trans:hover {
    background: #4d8add;
    background-position: 0 -40px; 
}

#notif {
    float: right;
    padding-top: 2px ;
    padding-left: 5px ;
    padding-right: 5px ;
    padding-bottom: 2px;
    /*    height: 20px;*/
    border-radius: 3px;
    margin-top: 11px;
    margin-bottom: 10px;
    /*    float: right;*/
    font: 10px 'arial';
    font-weight: bold;
    color:white;
    position: relative;
    /*    background-repeat: no-repeat;*/
    background: #e51717;
    /*    background-image: url('../images/mailblue-30bw.png');*/
    border: 1px solid darkslategrey;
}

#notif:hover{
    /*    float: right;*/
    /*    padding:5px 0px 0px 22px;*/
    /*    float: right;*/
    /*    font: 16px 'arial';*/
    /*    font-weight: bold;*/
    background: #eb3838;
    /*    position: relative;*/
    /*    background-repeat: no-repeat;*/
    /*    margin: 10px 0px; */
    /*    background-image: url('../images/mailblue-30.png');*/
}

#depkeu-logo {
    padding: 0px 2px 0px 0px;
    float: right;
    height: 40px;
    position: relative;    
    color: #0b2348;
    /*    background-image: url('../images/depkeu-kecil.jpg');*/
}

#pull-left {
    padding: 0px 15px;
    float: left;
    position: relative;    
    color: red;
}


/**---------- untuk detil surat dansemisalnya---------**/
.left {
    padding: 1px;
    float:left;  
    width: 49%;
    position: inherit;
    height: 100%;
    /*    margin-right: 2px;*/

}

.right{
    padding: 1px;
    float:right;
    position: inherit;
    width: 49%;
    /*    margin-left: 2px;*/
}

.vlamp {
    width:100%;
}
/**-------sisurip---------------**/
#sisurip {
    padding: 0px 15px;
    float: left;
    position: relative;    
    color: #ff1a1a;
    text-shadow: 0 1px 0 #7dd5ff;
    font-family: Arial,Helvetica,sans-serif;
}

#sisurip:hover {
    color: whitesmoke;
    -webkit-transition: all 1s;
}

#navbar {     
    padding-bottom: 10px;
}

#user-icon {
    background:url('../public/images/user.png') no-repeat;
    background-position: -140px -140px;
    color: white;
    font-weight: bold;
}

/**----------menu dropdown---------- **/

#trans-nav {
    margin:0;
    list-style-type: none; 
    height: 40px; 
    padding: 0; 
    /**margin-left: 480px;**/
    float : top left;

}
#trans-nav li { 
    float: left; 
    position: relative; 
    padding: 0;
    line-height: 40px; 
    background: #5a8078;
    repeat-x: 0 0; 
    -webkit-border-radius : 10px 10px 10px 10px;
}
#trans-nav li:hover { 
    background-position: 0 -40px; 
}
#trans-nav li a { 
    display: block; 
    padding: 0 10px; 
    color: #fff; 
    text-decoration: none;
    cursor: pointer;
}
#trans-nav li a:hover { 
    color: #a3f1d7; 

}
#trans-nav li ul { 
    opacity: 0; 
    position: absolute; 
    left: 0; 
    width: 15em; 
    background: #4d8add; 
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    -webkit-border-radius : 0px 0px 0px 0px;
}
#trans-nav li:hover ul { 
    opacity: 1; 
}
#trans-nav li ul li { 
    float: none; 
    position: static; 
    height: 0; 
    line-height: 0; 
    background: none; 
}
#trans-nav li:hover ul li { 
    height: 30px; 
    line-height: 30px; 


}
#trans-nav li ul li a { 
    background: #4d8add; 
    -webkit-border-radius : 0px 0px 0px 0px;
    background: #4d8add; /* Old browsers */
    background: -moz-linear-gradient(left,  #4d8add 1%, #52baea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(1%,#4d8add), color-stop(100%,#52baea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #4d8add 1%,#52baea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #4d8add 1%,#52baea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #4d8add 1%,#52baea 100%); /* IE10+ */
    background: linear-gradient(to right,  #4d8add 1%,#52baea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d8add', endColorstr='#52baea',GradientType=1 ); /* IE6-9 */

}


<!--Animation dengan webkit transition-->

#trans-nav li ul li a:hover { 
    background: #000; 
}
#trans-nav li { 
    -webkit-transition: all 0.2s; 
}
#trans-nav li a { 
    -webkit-transition: all 0.5s; 
}
#trans-nav li ul { 
    -webkit-transition: all 1s; 
}
#trans-nav li ul li { 
    -webkit-transition: height 0.5s; 
}

.CSSTableGenerator {
    /*overflow-y: scroll;*/
    margin:0px;padding:0px;
    width:100%;
    /*box-shadow: 10px 10px 5px #888888; bayangan
    border:1px solid #000000;*/
    border:1px solid #ffffff;

    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;

    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;

    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;

    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}.CSSTableGenerator table{
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{

}
.CSSTableGenerator tr:nth-child(odd){ background-color:#71c2ff; }
/*.CSSTableGenerator tr:nth-child(odd){ background-color:#aad4ff; } original
.CSSTableGenerator tr:nth-child(odd){ background-color:#ff8c00; } orenginal
.CSSTableGenerator tr:nth-child(odd){ background-color:#00bcf2; } bluenginal
*/
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
    vertical-align:top;


    /*border:1px solid #000000;*/
    border:1px solid #ffffff;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:4px;
    font-size:12px;
    font-family:'segoe ui','trebuchet ms';
    font-weight:normal;
    color:#000000;
}.CSSTableGenerator tr:last-child td{
    border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
    border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
/*    #1c6dbf
background:-o-linear-gradient(bottom, #3a97f4 5%, #1c6dbf 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3a97f4), color-stop(1, #1c6dbf) );
*/
    background:-o-linear-gradient(bottom, #dd282d 5%, #ac1b1e 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dd282d), color-stop(1, #ac1b1e) );
    background:-moz-linear-gradient( center top, #3a97f4 5%, #1c6dbf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#3a97f4", endColorstr="#1c6dbf");	background: -o-linear-gradient(top,#3a97f4,1c6dbf);

    background-color:#3a97f4;
    border:0px solid #ffffff;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:'segoe ui','trebuchet ms';
    font-weight:bold;
    color:#ffffff;
}

.CSSTableGenerator tr th{
    background:-o-linear-gradient(bottom, #3a97f4 5%, #1c6dbf 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3a97f4), color-stop(1, #1c6dbf) );
    background:-moz-linear-gradient( center top, #3a97f4 5%, #1c6dbf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#3a97f4", endColorstr="#1c6dbf");	background: -o-linear-gradient(top,#3a97f4,1c6dbf);

    background-color:#3a97f4;
    border:0px solid #ffffff;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:Arial;
    font-weight:bold;
    color:#ffffff;
}

.CSSTableGenerator tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #e04145 5%, #cc2024 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e04145), color-stop(1, #cc2024) );
    background:-moz-linear-gradient( center top, #3a97f4 5%, #1c6dbf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#3a97f4", endColorstr="#1c6dbf");	background: -o-linear-gradient(top,#3a97f4,1c6dbf);

    background-color:#3a97f4;
}
.CSSTableGenerator tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}

.tableinfo {
    width:100%;
    margin:0px;padding:0px;
}

.tableinfo table {
    width:100%;
    margin:0px;padding:0px;
    height: 100%;
    background-color: #dc3c00;
}

.tableinfo tr {
    padding: 4px;
}

.tableinfo td {
    vertical-align:top;
    border:1px solid #4d4d4f;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:4px;
    font-size:12px;
    font-family:'segoe ui','trebuchet ms';
    font-weight:normal;
    color:#ffffff;
    font-weight: bolder;
    background-color: #4d4d4f;
}

.limit-select {
    height: 30px;
    min-width: 60px;
    font-size: 12px;    
    border: 0px;
    color: #498af2;
    font-weight: bold;
    padding:2px;
    border-radius: 4px;
    margin-top: 1px;
    text-align: center;
}

.btn {
    height: 30px;
    min-width: 30px;
    font-size: 12px;
    /*cursor: pointer;  */  
    background: #498af2;
    border: 0px;
    color: #eef5fe;
    font-weight: bold;
    padding:0px;
    border-radius: 0px;
    margin-top: 0px;
    padding-right: 10px;
    
    /*background: #ebf1f6; /* Old browsers */
    /*background: -moz-linear-gradient(top,  #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* IE10+ */
    /*background: linear-gradient(to bottom,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */

}

.btn.btn-danger {
    background: url(../images/delete.png) no-repeat left center;
    background-color: #e81123;
    padding-left: 25px;
    background-position: 5px center;
}

.btn.btn-danger:hover {
    background: url(../images/delete.png) no-repeat left center;
    background-color: #c00e1c;
    border: 3px #12407f;
    background-position: 5px center;
}

.btn.btn-green {
    background: url(../images/edit.png) no-repeat left center;
    background-color: #0a4b0a;
    padding-left: 25px;
    background-position: 5px center;
}

.btn.btn-green:hover {
    background: url(../images/edit.png) no-repeat left center;
    background-color: #107c0f;
    border: 3px #12407f;
    background-position: 5px center;
}

.btn.btn-grey {
    background:#333333;
}

.btn.btn-grey:hover {
    background:#4e4e4e;
}

.btn.btn-red {
    background: #e81123;
}

/*.btn.btn-red:hover {
    background: #c00e1c;
}*/

.btn.print {
    background: url(../images/print16.png) no-repeat left center;
    background-color: #498af2;
    padding-left: 25px;
    background-position: 5px center;
}

.btn.print:hover {
    background: url(../images/print16.png) no-repeat left center;
    background-color: #0049be;
    border: 3px #12407f;
    background-position: 5px center;
}

.btn.edit {
    background: url(../images/edit.png) no-repeat left center;
    background-color: #498af2;
    padding-left: 25px;
    background-position: 5px center;
}

.btn.edit:hover {
    background: url(../images/edit.png) no-repeat left center;
    background-color: #0049be;
    border: 3px #12407f;
    background-position: 5px center;
}

.btn.attachment {
    background: url(../images/attachment.png) no-repeat left center;
    background-color: #498af2;
    padding-left: 25px;
    background-position: 5px center;
}

.btn.attachment:hover {
    background: url(../images/attachment.png) no-repeat left center;
    background-color: #0049be;
    border: 3px #12407f;
    background-position: 5px center;
}

.btn.arsip {
    background: url(../images/arsip.png) no-repeat left center;
    background-color: #498af2;
    padding-left: 25px;
    background-position: 5px center;
}

.btn.arsip:hover {
    background: url(../images/arsip.png) no-repeat left center;
    background-color: #0049be;
    border: 3px #12407f;
    background-position: 5px center;
}

.btn.save {
    margin:5px 10px 0px 0px;
    background: url(../images/save.png) no-repeat left center;
    background-color: #498af2;
    padding-left: 25px;
    background-position: 5px center;
}

.btn.save:hover {
    background: url(../images/save.png) no-repeat left center;
    background-color: #0049be;
    border: 3px #12407f;
    background-position: 5px center;
}

.btn.reset {
    margin:5px 10px 0px 10px;
    background: url(../images/reset.png) no-repeat left center;
    background-color: #498af2;
    padding-left: 25px;
    background-position: 5px center;
}

.btn.reset:hover {
    background: url(../images/reset.png) no-repeat left center;
    background-color: #0049be;
    border: 3px #12407f;
    background-position: 5px center;
}

.btn.backup {
    margin:5px 10px 0px 0px;
    background: url(../images/backup.png) no-repeat left center;
    background-color: #498af2;
    padding-left: 25px;
    background-position: 5px center;
}

.btn.backup:hover {
    background: url(../images/backup.png) no-repeat left center;
    background-color: #0049be;
    border: 3px #12407f;
    background-position: 5px center;
}

.btn.restore {
    margin:5px 10px 0px 0px;
    background: url(../images/restore.png) no-repeat left center;
    background-color: #498af2;
    padding-left: 25px;
    background-position: 5px center;
}

.btn.restore:hover {
    background: url(../images/restore.png) no-repeat left center;
    background-color: #0049be;
    border: 3px #12407f;
    background-position: 5px center;
}

.btn.cancel {
    margin:5px 10px 0px 10px;
    background: url(../images/cancel.png) no-repeat left center;
    background-color: #498af2;
    padding-left: 25px;
    background-position: 5px center;
}

.btn.cancel:hover {
    background: url(../images/cancel.png) no-repeat left center;
    background-color: #0049be;
    border: 3px #12407f;
    background-position: 5px center;
}

.btn.write {
    background: url(../images/write.png) no-repeat left center;
    background-color: #498af2;
    padding-left: 25px;
    background-position: 5px center;
}

.btn.write:hover {
    background: url(../images/write.png) no-repeat left center;
    background-color: #0049be;
    border: 3px #12407f;
    background-position: 5px center;
}

.btn.download {
    background: url(../images/download.png) no-repeat left center;
    background-color: #333333;
    padding-left: 25px;
    background-position: 5px center;
}

.btn.download:hover {
    background: url(../images/download.png) no-repeat left center;
    background-color: #4e4e4e;
    border: 3px #12407f;
    background-position: 5px center;
}

.btn.upload {
    background: url(../images/upload.png) no-repeat left center;
    background-color: #333333;
    padding-left: 25px;
    background-position: 5px center;
}

.btn.upload:hover {
    background: url(../images/upload.png) no-repeat left center;
    background-color: #4e4e4e;
    border: 3px #12407f;
    background-position: 5px center;
}

.btn.view{
    background: url(../images/search16.png) no-repeat left center;
    background-color: #498af2;
    padding-left: 25px;
    background-position: 5px center;
}

.btn.view:hover{
    background: url(../images/search16.png) no-repeat left center;
    background-color: #0049be;
    border: 3px #12407f;
    background-position: 5px center;
}

.btn.icon {
    padding-left: 0px;
    padding-right: 0px;
    
}

a.button.icon span{
    padding-left: 36px;
}

.btn.search{
    height: 30px;
    background: url(../images/search16.png) no-repeat left;
    margin-left: 0px;
    background-color: #498af2;
    background-position: 10px center;
}

.btn.search:hover{
    height: 30px;
    background: url(../images/search16.png) no-repeat left;
    margin-left: 0px;
    background-color: #0049be;
    border: 3px #12407f;
    background-position: 10px center;
}

.btn.icon.rekam{
    background: url(../images/icons/Add.png) no-repeat 0 0px;
}

.btn.icon.ctkdisposisi{
    background: url(../images/icons/Printer.png) no-repeat 0 0px;
}

.btn.icon.upload{
    background: url(../images/icons/upload.png) no-repeat 0 0px;
}

.btn.icon.edit{
    background: url(../images/icons/notes_edit.png) no-repeat 0 0px;
}

.btn:hover {
    color:black;
    font-weight: bolder;
    background: #1768ee;
    border: 3px #12407f;
    /*background: rgb(254,187,187); /* Old browsers */
    /*background: -moz-linear-gradient(top,  rgba(254,187,187,1) 0%, rgba(254,144,144,1) 45%, rgba(255,92,92,1) 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,187,187,1)), color-stop(45%,rgba(254,144,144,1)), color-stop(100%,rgba(255,92,92,1))); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* IE10+ */
    /*background: linear-gradient(to bottom,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */


}

.btn:active {
    color:red;
    font-weight: bolder;
    background: bottom;
    border: 3px #12407f;
}
label.error {
    min-width: 200px;
    color: red; padding-left: .5em;
    font-weight: bold;
    float: right;
}

/* Autocomplete
                        ----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }	
.ui-autocomplete-loading { background: white url('http://localhost/suripmvc/public/js/images/ui-anim_basic_16x16.gif') right center no-repeat; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
.ui-menu {
    list-style:none;
    padding: 2px;
    margin: 0;
    display:block;
}
.ui-menu .ui-menu {
    margin-top: -3px;
}
.ui-menu .ui-menu-item {
    margin:0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
    font-size:80%;
}
.ui-menu .ui-menu-item a {
    text-decoration:none;
    display:block;
    padding:.2em .4em;
    line-height:1.5;
    zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
}

/*-- info, success, warning, error --*/
#info, #success, #warning, #error, #validation {
/*    text-align: center;*/
    border: 1px solid;
    margin: 10px 10px;
    padding:15px 10px 15px 15px;
    background-repeat: no-repeat;
    background-position: 10px center;
    width: 95%;
    text-align: center;
}
#info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../images/icons/info.png');
}
#success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/icons/success.png');
}
#warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/icons/warning.png');
}
#error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/icons/error.png');
}

#validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('../images/icons/validation.png');
}

/*progress bar from twitter bootstrap*/ 
.progress {
    
/*    border-left: 1px solid green;*/
    height: 15px;
    margin-bottom: 5px;
    overflow: hidden;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 0px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: transparent;
}

.progress .bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #0e90d2;
    background-image: -moz-linear-gradient(top, #149bdf, #0480be);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
    background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
    background-image: -o-linear-gradient(top, #149bdf, #0480be);
    background-image: linear-gradient(to bottom, #149bdf, #0480be);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.progress .bar-danger {
  background-color: #dd514c;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffc43c35', GradientType=0);
}

.progress .bar-success {
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(to bottom, #62c462, #57a957);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=0);
}

.progress-striped .bar {
  background-color: #149bdf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
     -moz-background-size: 40px 40px;
       -o-background-size: 40px 40px;
          background-size: 40px 40px;
}

.progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
     -moz-animation: progress-bar-stripes 2s linear infinite;
      -ms-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}

#chart-wrapper {
    border : 2px solid grey;
    width:90%;
    padding: 10px;
}
table {
  width: 100%;  
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

tr {
    width: 100%;
}

/*------------menu-tab---------------*/
.tab-menu { 
    padding: 0; 
    clear: both; 
}

.tab-menu li { 
    display: inline; 
}

.tab-menu li a { 
    background: #ccf; 
    padding: 10px; 
    float:left; 
    border-right: 1px solid #ccf; 
    border-bottom: none; 
    text-decoration: none; 
    color: #000; 
    font-weight: bold;
}

.tab-menu li.active a { 
    background: #eef; 
}

.content-tab { 
/*    float: left; */
    clear: both; 
    border: 1px solid #ccf; 
    border-top: none; 
    border-left: none; 
    background: #eef; 
    padding: 10px 20px 20px; 
    width: 95%;
    position:inherit;
}

/*****tooltip*****/

.tooltip{
    display: anything;
    position: relative;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
/*    z-index: 98;*/
    width: 220px;
}

.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
/*    z-index: 99;*/
}

/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(20,20,20,0.92);
	}
}

/*------------span-------------*/
[class*="span"] {
  float: left;
    min-height: 1px;
    margin-left: 20px;
}

.span12 {
  width: 940px;
}

.span11 {
  width: 860px;
}

.span10 {
  width: 780px;
}

.span9 {
  width: 700px;
}

.span8 {
  width: 620px;
}

.span7 {
  width: 540px;
}

.span6 {
  width: 460px;
}

.span5 {
  width: 380px;
}

.span4 {
  width: 300px;
}

.span3 {
  width: 220px;
}

.span2 {
  width: 140px;
}

.span1 {
  width: 60px;
}

/*-----------calendar-----------------*/
#calendar {
 width: 400px;
 height: 400px;
 padding-left: 0;
 margin-left: 40px;
 margin-right: 40px;
 margin-bottom: 40px;
 border-left: 0px solid #A2ADBC;
 font: normal 20px/20px 'segoe ui',"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
 color: #616B76;
 text-align: center;
 background-color: #fff;
}

#calendar td {
 border-right: 0px solid #A2ADBC;
 border-bottom: 0px solid #A2ADBC;
 width: 10px;
 height: 10px;
 text-align: center;
/* background: url(../images/bg_calendar.gif) no-repeat center;*/
}

#calendar td a:link, td a:visited {
 color: #608194;
/* background: url(../images/bg_calendar.gif) no-repeat;*/
}

#calendar td a:hover, td a:active {
 color: #6aa3ae;
/* background: url(../images/bg_calendar.gif) no-repeat right top;*/
}

/*-----animasi loading----*/
.preload { 
    display: none;
    width:100px;
    height: 100px;
    position: fixed;
    top: 45%;
    left: 45%;
}

/*---------------- cari param ---------------*/
.cari-param {
    width: 98%;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #00b5e7;
    padding-top: 3px;
    padding-left: 5px;
    padding-bottom: 3px;
    
}

.cari-param input,select {
/*    padding-top: 3px;*/
/*    padding-left: 5px;*/
/*    padding-bottom: 3px;*/
/*    margin-top: 3px;*/
/*    margin-bottom: 3px;*/
/*    margin-left: 3px;*/
    min-width: 150px;
}

.cari-param td {
    padding-top: 3px;
    padding-left: 5px;
    padding-bottom: 3px;
}

.form-login {
/*    text-align: center;*/
    margin-left: 10px;
    margin-top: 250px;
    width: 40%;
    min-width: 370px;
    min-height: 200px;
    padding: 10px;
    font-family: 'segoe ui',tahoma;
    color: #0073c8;
/*    border: 2px solid chocolate;
    background-color: greenyellow;*/
    border: 2px solid black;
    background-color: white;
    
}
