*{  
    margin:0;  
    padding:0;  
}  

/*html {
    overflow-y: scroll;
}*/
body {
    background: silver;
    font: 12px 'trebuchet ms', arial, sans-serif;    
    text-align: center;
}

div {
    /*    border: 1px solid black;*/
}

/** Structure */
#wrapper {
    margin: 0 auto;
    width: 100%;
    text-align: left;
}

#header {
    font-size: 14px;
    position: fixed;
    width: 100%;
    background: #12407f;
    color: #fff;    
    border-bottom: 4px solid #436fac;
    background-image: linear-gradient(bottom, rgb(19,101,173) 0%, rgb(18,65,127) 53%);
    background-image: -o-linear-gradient(bottom, rgb(19,101,173) 0%, rgb(18,65,127) 53%);
    background-image: -moz-linear-gradient(bottom, rgb(19,101,173) 0%, rgb(18,65,127) 53%);
    background-image: -webkit-linear-gradient(bottom, rgb(19,101,173) 0%, rgb(18,65,127) 53%);
    background-image: -ms-linear-gradient(bottom, rgb(19,101,173) 0%, rgb(18,65,127) 53%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(19,101,173)),
        color-stop(0.53, rgb(18,65,127))
        );
}

#menu {

    background: #12407f;
    height: 40px;
    border-bottom: 1px solid #154a93;
    font:14px;

}

#content {
    background: #fff;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#cwrapper-gradien {
    background: lightskyblue;
    /**color: #fff; **/
    min-height: 200px;
    max-width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid green;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 auto;
    background: #ebf1f6; /* Old browsers */
    background: -moz-linear-gradient(top,  #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */

}

#cwrapper {
    background: #0073c8;
    color: #ffffff;
    min-height: 500px;
    max-width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid #0073c8;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 0 auto;    

    z-index: 1;

}

#wrap {
    z-index: 999;
    height: 100%;
    position: relative;

}

#footer {
    font-size: 14px;
    background: #12407f;
    color: #fff;
    padding: 20px;
    border-top: 4px solid #436fac;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: linear-gradient(top, rgb(19,101,173) 0%, rgb(18,65,127) 56%);
    background-image: -o-linear-gradient(top, rgb(19,101,173) 0%, rgb(18,65,127) 56%);
    background-image: -moz-linear-gradient(top, rgb(19,101,173) 0%, rgb(18,65,127) 56%);
    background-image: -webkit-linear-gradient(top, rgb(19,101,173) 0%, rgb(18,65,127) 56%);
    background-image: -ms-linear-gradient(top, rgb(19,101,173) 0%, rgb(18,65,127) 56%);

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(19,101,173)),
        color-stop(0.56, rgb(18,65,127))
        );
}

/* Links */
#header a {
    color: #fff;
    background: #12407f;
    padding: 4px 15px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
}

#header a:hover {
    background: #4d8add
}

/** Forms */

#form-wrapper {
    margin: 0 auto;
    margin-top: 5px;
    width: 75%;
    padding: 10px;
    font-family: tahoma;
    color: #0073c8;
    /*border: 2px solid chocolate;
    background-color: greenyellow;*/
    border: 2px solid white;
    background-color: white;
    /*background: rgb(243,197,189); /* Old browsers */
    /*background: -moz-linear-gradient(top,  rgba(243,197,189,1) 0%, rgba(232,108,87,1) 50%, rgba(234,40,3,1) 51%, rgba(255,102,0,1) 75%, rgba(199,34,0,1) 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,197,189,1)), color-stop(50%,rgba(232,108,87,1)), color-stop(51%,rgba(234,40,3,1)), color-stop(75%,rgba(255,102,0,1)), color-stop(100%,rgba(199,34,0,1))); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* IE10+ */
    /*background: linear-gradient(to bottom,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); /* IE6-9 */
    /*background: rgb(246,248,249); /* Old browsers */
    /*background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
    /*background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */

}

#table-wrapper {
    margin: 0 auto;
    margin-top: 5px;
    width: 98%;
    padding: 3px;
    font-family: tahoma;
    color: #0073c8;
    /*border: 2px solid chocolate;
    background-color: greenyellow;*/
    border: 2px solid white;
    background-color: white;

}

form {

    display: inline-block;
    font: 100% verdana,arial,sans-serif;
}

form label { 
    display: block;
    float: left; 
    width: 150px; 
    padding: 0; 
    margin: 9px 0 0;
    text-align: right; 
}

form label.right { 
    display: block;
    float: left; 
    width: auto; 
    padding: 4px; 
    margin: 5px 0 0 10px;
    text-align: left; 

}

form input, form select {
    width: auto;
    max-width: 50%;
    margin: 5px 0 0 10px;
    border: 1px solid gray;
    padding: 4px;
    border-radius: 4px;
}

form input#search {
    width: 295px;
    height: 20px;

}

form input#search:hover {
    width: 295px;
    height: 20px;
}

.float-input {
    max-width: 100%;
    width: auto;
}

form input:hover, form select:hover {
    width: auto;
    margin: 5px 0 0 10px;
    border: 1px double silver;
    padding: 4px;    
}

form input[type=submit], input[type=reset], input[type=button] {
    min-width: 60px;
    /*border:1px outset activecaption; */
    height: 30px;
    min-width: 60px;
    font-size: 12px;
    /*cursor: pointer;  */  
    background: #498af2;
    border: 0px;
    color: #eef5fe;
    font-weight: bold;
    padding:2px;
    border-radius: 4px;
}

form input[type=submit]:hover, input[type=reset]:hover,input[type=button]:hover{
    cursor: pointer;
    color:black;
    font-weight: bolder;
    background: #1768ee;
    border: 3px #12407f;
    /*background: aqua;
    background: #ebf1f6; /* Old browsers */
    /*background: -moz-linear-gradient(top,  #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* IE10+ */
    /*background: linear-gradient(to bottom,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */
}


form br {clear: left;}

iframe {
    width: 100%;
    min-height: 400px;
}

#error{
    background: red;
    width:75%;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
}

#success{
    background: greenyellow;
    border: 1px solid greenyellow;
    width:75%;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
}

#brand {

    padding: 5px 15px;
    float: right;
    position: relative;
    font-weight: bolder;
    font-size: 25px;
    color: #0b2348;
    text-shadow: 0 1px 0 #000000;
    font-family: Arial,Helvetica,sans-serif;
}

#brand:hover {
    color: white;
    -webkit-transition: all 1s;
    text-shadow: 0 1px 0 silver;
}

#pull-right {
    padding: 11px 11px;
    float: right;
    position: relative;   

}

#user {
    padding: 11px 11px;
    float: right;
    position: relative;   

}

#notif {
    float: right;
    padding:5px 0px 0px 22px;
/*    float: right;*/
    font: 16px 'arial';
    font-weight: bold;
    color:red;
    position: relative;
    background-repeat: no-repeat;
    margin: 10px 0px;    
    background-image: url('../images/mailblue-30bw.png');
}

#notif:hover{
    float: right;
    padding:5px 0px 0px 22px;
/*    float: right;*/
    font: 16px 'arial';
    font-weight: bold;
    color:red;
    position: relative;
    background-repeat: no-repeat;
    margin: 10px 0px; 
    background-image: url('../images/mailblue-30.png');
}

#depkeu-logo {
    padding: 0.5px 15px;
    float: right;
    position: relative;    
    color: red;
}

#pull-left {
    padding: 0px 15px;
    float: left;
    position: relative;    
    color: red;
}


/**---------- untuk detil surat dansemisalnya---------**/
.left {
    padding: 1px;
    float:left;  
    width: 49%;
    position: inherit;
    height: 100%;
    /*    margin-right: 2px;*/

}

.right{
    padding: 1px;
    float:right;
    position: inherit;
    width: 49%;
    /*    margin-left: 2px;*/
}
/**-------sisurip---------------**/
#sisurip {
    padding: 0px 15px;
    float: left;
    position: relative;    
    color: maroon;
    text-shadow: 0 1px 0 #000000;
    font-family: Arial,Helvetica,sans-serif;
}

#sisurip:hover {
    color: whitesmoke;
    -webkit-transition: all 1s;
}

#navbar {     
    padding-bottom: 10px;
}

#user-icon {
    background:url('../public/images/user.png') no-repeat;
    background-position: -140px -140px;
    color: white;
    font-weight: bold;
}

/**----------menu dropdown---------- **/

#trans-nav { 
    list-style-type: none; 
    height: 40px; 
    padding: 0; 
    /**margin-left: 480px;**/
    float : top left;

}
#trans-nav li { 
    float: left; 
    position: relative; 
    padding: 0;
    line-height: 40px; 
    background: #5a8078;
    repeat-x: 0 0; 
    -webkit-border-radius : 10px 10px 10px 10px;
}
#trans-nav li:hover { 
    background-position: 0 -40px; 
}
#trans-nav li a { 
    display: block; 
    padding: 0 15px; 
    color: #fff; 
    text-decoration: none; 
}
#trans-nav li a:hover { 
    color: #a3f1d7; 

}
#trans-nav li ul { 
    opacity: 0; 
    position: absolute; 
    left: 0; 
    width: 15em; 
    background: #4d8add; 
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    -webkit-border-radius : 0px 0px 0px 0px;
}
#trans-nav li:hover ul { 
    opacity: 1; 
}
#trans-nav li ul li { 
    float: none; 
    position: static; 
    height: 0; 
    line-height: 0; 
    background: none; 
}
#trans-nav li:hover ul li { 
    height: 30px; 
    line-height: 30px; 


}
#trans-nav li ul li a { 
    background: #4d8add; 
    -webkit-border-radius : 0px 0px 0px 0px;
    background: #4d8add; /* Old browsers */
    background: -moz-linear-gradient(left,  #4d8add 1%, #52baea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(1%,#4d8add), color-stop(100%,#52baea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #4d8add 1%,#52baea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #4d8add 1%,#52baea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #4d8add 1%,#52baea 100%); /* IE10+ */
    background: linear-gradient(to right,  #4d8add 1%,#52baea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d8add', endColorstr='#52baea',GradientType=1 ); /* IE6-9 */

}


<!--Animation dengan webkit transition-->

#trans-nav li ul li a:hover { 
    background: #000; 
}
#trans-nav li { 
    -webkit-transition: all 0.2s; 
}
#trans-nav li a { 
    -webkit-transition: all 0.5s; 
}
#trans-nav li ul { 
    -webkit-transition: all 1s; 
}
#trans-nav li ul li { 
    -webkit-transition: height 0.5s; 
}

/**-----------table----------**/

table {

}

table tr {

}

table td {

}

table th {

}

.CSSTableGenerator {
    /*overflow-y: scroll;*/
    margin:0px;padding:0px;
    width:100%;
    /*box-shadow: 10px 10px 5px #888888; bayangan
    border:1px solid #000000;*/
    border:1px solid #ffffff;

    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;

    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;

    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;

    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}.CSSTableGenerator table{
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{

}
.CSSTableGenerator tr:nth-child(odd){ background-color:#bbd80a; }
/*.CSSTableGenerator tr:nth-child(odd){ background-color:#aad4ff; } original
.CSSTableGenerator tr:nth-child(odd){ background-color:#ff8c00; } orenginal
.CSSTableGenerator tr:nth-child(odd){ background-color:#00bcf2; } bluenginal
*/
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
    vertical-align:middle;


    /*border:1px solid #000000;*/
    border:1px solid #ffffff;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:4px;
    font-size:12px;
    font-family:'trebuchet ms';
    font-weight:normal;
    color:#000000;
}.CSSTableGenerator tr:last-child td{
    border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
    border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
    background:-o-linear-gradient(bottom, #3a97f4 5%, #1c6dbf 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3a97f4), color-stop(1, #1c6dbf) );
    background:-moz-linear-gradient( center top, #3a97f4 5%, #1c6dbf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#3a97f4", endColorstr="#1c6dbf");	background: -o-linear-gradient(top,#3a97f4,1c6dbf);

    background-color:#3a97f4;
    border:0px solid #ffffff;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:'trebuchet ms';
    font-weight:bold;
    color:#ffffff;
}

.CSSTableGenerator tr th{
    background:-o-linear-gradient(bottom, #3a97f4 5%, #1c6dbf 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3a97f4), color-stop(1, #1c6dbf) );
    background:-moz-linear-gradient( center top, #3a97f4 5%, #1c6dbf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#3a97f4", endColorstr="#1c6dbf");	background: -o-linear-gradient(top,#3a97f4,1c6dbf);

    background-color:#3a97f4;
    border:0px solid #ffffff;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:Arial;
    font-weight:bold;
    color:#ffffff;
}

.CSSTableGenerator tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #3a97f4 5%, #1c6dbf 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3a97f4), color-stop(1, #1c6dbf) );
    background:-moz-linear-gradient( center top, #3a97f4 5%, #1c6dbf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#3a97f4", endColorstr="#1c6dbf");	background: -o-linear-gradient(top,#3a97f4,1c6dbf);

    background-color:#3a97f4;
}
.CSSTableGenerator tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}

.btn {
    height: 30px;
    min-width: 60px;
    font-size: 12px;
    /*cursor: pointer;  */  
    background: #498af2;
    border: 0px;
    color: #eef5fe;
    font-weight: bold;
    padding:2px;
    border-radius: 4px;
    margin-top: 1px;
    /*background: #ebf1f6; /* Old browsers */
    /*background: -moz-linear-gradient(top,  #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* IE10+ */
    /*background: linear-gradient(to bottom,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */

}

.btn:hover {
    color:black;
    font-weight: bolder;
    background: #1768ee;
    border: 3px #12407f;
    /*background: rgb(254,187,187); /* Old browsers */
    /*background: -moz-linear-gradient(top,  rgba(254,187,187,1) 0%, rgba(254,144,144,1) 45%, rgba(255,92,92,1) 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,187,187,1)), color-stop(45%,rgba(254,144,144,1)), color-stop(100%,rgba(255,92,92,1))); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* IE10+ */
    /*background: linear-gradient(to bottom,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */


}

label.error {
    min-width: 200px;
    color: red; padding-left: .5em;
    font-weight: bold;
    float: right;
}

/* Autocomplete
                        ----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }	
.ui-autocomplete-loading { background: white url('http://localhost/suripmvc/public/js/images/ui-anim_basic_16x16.gif') right center no-repeat; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
.ui-menu {
    list-style:none;
    padding: 2px;
    margin: 0;
    display:block;
}
.ui-menu .ui-menu {
    margin-top: -3px;
}
.ui-menu .ui-menu-item {
    margin:0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
    font-size:80%;
}
.ui-menu .ui-menu-item a {
    text-decoration:none;
    display:block;
    padding:.2em .4em;
    line-height:1.5;
    zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
}

/*-- search drpdown --*/ 
.sb_wrapper{
    margin:0;
    padding:0;
    /*	position: absolute;*/
    top:5px;
    left:40px;
    width:372px;
}
.sb_wrapper input[type="text"],
ul.sb_dropdown{
    color: black;
    float: next;
    border:1px solid #fff;
    background: #fafafa; 
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#fafafa)); 
    background: -moz-linear-gradient(top, #f2f2f2, #fafafa);
    font-size:24px;
    font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
    -moz-box-shadow:1px 1px 3px #555;
    -webkit-box-shadow:1px 1px 3px #555;
    -box-shadow:1px 1px 3px #555;
    outline:none;
    padding:6px 5px 6px 20px;
    text-shadow:1px 1px 1px #fff;
    width:295px;
    float:left;
    margin:3px 0px;
}
ul.sb_dropdown{
    float:left;
    list-style:none;
    width:360px;
    padding:6px 5px;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-bottom-right-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}
ul.sb_dropdown li{
    font-size:16px;
    line-height:32px;
    height:32px;
    float:left;
    width:50%;
}
ul.sb_dropdown li input[type="checkbox"]{
    float:left;
    margin:10px 4px 0 5px;
}
ul.sb_dropdown li.sb_filter{
    width:348px;
    border:1px solid #f9f9f9;
    clear:both;
    background: #ddd;
    font-size:12px;
    text-transform:uppercase;
    letter-spacing:1px;
    color:#444;
    height:16px;
    line-height:16px;
    padding:5px;
    -moz-box-shadow:0px 0px 2px #777;
    -webkit-box-shadow:0px 0px 3px #555 inset;
    -box-shadow:0px 0px 3px #555 inset;

}
span.sb_up,
span.sb_down{
    position:absolute;
    top:3px;
    left:0px;
    width:14px;
    height:41px;
    background-color:#f2f2f2;
    background-position:center center;
    background-repeat: no-repeat;
    z-index:10;
    border:1px solid #fff;
    -moz-box-shadow:1px 0px 1px #ddd;
    -webkit-box-shadow:1px 0px 1px #ddd;
    -box-shadow:1px 0px 1px #ddd;

}
span.sb_up{
    background-image:url(../images/up.png);
}
span.sb_down{
    background-image:url(../images/down.png);
}
form input.sb_search{
    background:#f2f2f2 url(../images/search.png) no-repeat center center;
    height:30px;
    width:50px;
    float:left;
    border:none;
    margin:3px 0px;
    border:1px solid #fff;
    -moz-box-shadow:1px 1px 3px #555;
    -webkit-box-shadow:1px 1px 3px #555;
    -box-shadow:1px 1px 3px #555;
    outline:none;
    cursor:pointer;
}
form input.sb_search:hover{
    background-color:#fff;
}

form input.sb_input {
    height: 30px;
}

/*-- info, success, warning, error --*/
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../images/icons/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/icons/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/icons/warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/icons/error.png');
}

.validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('../images/icons/validation.png');
}
